<section class="homepage_container">
  <h2 class="text-center">Welcome to Instagram clone app</h2>
  
  <p>Please Register or Sign In to continue!</p>

  <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success" %>
  <%= link_to "Sign In", account_session_url, class: "btn btn-secondary" %>
</section>
